body {
  margin: 0;
}

.page {
  font-family: Open Sans, sans-serif;
}

@font-face {
  font-family: Open Sans;
  src: url(https://github.com/Epakneo/epakneo-adaptive/blob/master/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(https://github.com/Epakneo/epakneo-adaptive/blob/master/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 640px) {
  .header {
    min-width: 320px;
    padding-top: 33px;
    background-color: #1d18b1;
    background-image: url(https://github.com/Epakneo/epakneo-adaptive/blob/master/sources/img/football_767.jpg);
  }
  .logo {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 133px;
  }
}
